@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$background: #eaedf2;
$background2: #b9c7d4;
$blue: #3048c5;
$dark: #292a3d;

// =========================================================================
// Mixins
// =========================================================================

@mixin flex-between {
  display: flex;
  align-items: center;
}

@mixin buttons {
  @include flex-between;

  p {
    border: $blue 2px solid;
    border-radius: 50px;
    cursor: pointer;
    font-size: clamp(0.75rem, 1.1vw, 3rem);
    display: flex;
    justify-content: center;

    &:hover {
      opacity: 0.9;
    }
  }
}

@mixin white-btn {
  color: $blue;
  font-weight: bolder;
}

@mixin blue-btn {
  background: $blue;
  color: white;
  font-weight: bolder;
}

@mixin par {
  font-size: clamp(0.5rem, 1vw, 2rem);
  line-height: 180%;
  padding-bottom: 5%;
}

// =========================================================================
// Body
// =========================================================================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: $dark;
}

.container {
  width: 85%;
  margin: 0 auto;
}
// =========================================================================
// Header Section
// =========================================================================
header {
  background: $background;
  padding-block: clamp(1rem, 1.5vw, 4rem);

  .header-container {
    @include flex-between;
    justify-content: space-between;

    .logo {
      h1 {
        font-size: clamp(1rem, 1.5vw, 4rem);
        text-transform: uppercase;
        span {
          background: $blue;
          border-radius: 5px;
          color: white;
          padding: 0.25rem 0.5rem;
          margin-right: 2%;
        }
      }
    }
    .header-links {
      font-size: clamp(0.8rem, 1vw, 1vw);
      a {
        color: $dark;
        cursor: pointer;
        padding: 0 1rem;
        text-decoration: none;
      }
    }
    .header-btns {
      @include buttons;
      width: 19%;

      .login-btn {
        @include white-btn;
        margin-right: 5%;
        padding: 3% 10%;
      }
      .signUp-btn {
        @include blue-btn;
        padding: 3% 8%;
      }
    }
  }
}

// Toggle Button
// ----------------------------------------------------------------
.toggle-button {
  position: absolute;
  border: none;
  cursor: pointer;
  display: none;
  top: 1%;
  right: 8%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: clamp(1.5rem, 4%, 4%);
  height: 1.25%;

  span {
    height: 3px;
    background-color: $blue;
    border-radius: 10px;
  }
  .bar1 {
    width: 100%;
  }
  .bar2 {
    width: 80%;
  }
  .bar3 {
    width: 100%;
  }
}
// =========================================================================
// Cryptocurency Section
// =========================================================================

#crypto {
  background-color: $background;

  .crypto-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 8%;

    .crypto-left {
      h1 {
        color: $blue;
        font-size: clamp(0.75rem, 1.1vw, 3rem);
      }
      h2 {
        font-size: clamp(2rem, 4vw, 10rem);
        padding-block: 3%;

        span {
          color: $blue;
        }
      }
      p {
        @include par;
        width: 65%;
      }
      .crypto-btns {
        @include buttons;
        width: clamp(14rem, 50%, 50%);
        .started-btn {
          @include blue-btn;
          padding: 2% 6%;
        }
        .download-btn {
          @include white-btn;
          margin-left: 2%;
          padding: 2% 6%;
        }
      }
    }
    .crypto-right {
      padding-top: 10%;

      img {
        width: 100%;
      }
    }
  }
}

// =========================================================================
// Chart Section
// =========================================================================

#crypto-chart {
  background-color: $blue;
  color: white;
  padding-block: 2%;

  .chart-container {
    //background-color: $background2;
    border-radius: 25px;
    padding: 3% 5%;

    .chart {
      display: grid;
      grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
    }
    .chart-header {
      border-block: 1px rgba(255, 255, 255, 0.5) solid;
      font-size: clamp(0.5rem, 0.8vw, 2rem);
      padding-block: 0.5%;
    }
    .chart-crypto {
      border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
      font-size: clamp(0.7rem, 1vw, 2.5rem);
      padding-block: 2.5%;
      .crypto-name-chart {
        display: flex;
        img {
          margin-right: 5%;
          width: clamp(0.8rem, 8%, 2.5rem);
        }
      }
    }
  }
}

// =========================================================================
// Exchange Section
// =========================================================================

#exchange {
  background-color: $background2;

  .exchange-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9rem;
    padding: 10% 10%;

    .exchange-left {
      h1 {
        font-size: clamp(1.5rem, 2.5vw, 3rem);
        padding-bottom: 5%;
      }
      p {
        @include par;
      }
      .exchange-amount {
        display: flex;
        padding-bottom: 5%;

        .amount-left {
          background: white;
          border: 1px solid $blue;
          border-radius: 20px;
          color: $blue;
          display: flex;
          align-items: center;
          padding: 1.75% 4%;
          margin-right: 5%;
          width: 100%;

          p {
            border-right: 1px solid $blue;
            font-size: clamp(0.5rem, 1vw, 2rem);
            padding: 0 5% 0 0;
            margin-right: 5%;
          }
          input {
            border: none;
            color: $blue;
            font-size: clamp(0.5rem, 1vw, 2rem);
            outline: none;
            width: 65%;
          }
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        .dropdown-right {
          background: white;
          border: 1px solid $blue;
          border-radius: 20px;
          padding: 3% 2%;
          margin: auto 0;
          width: 25%;

          .currency {
            border: 0px;
            display: flex;
            outline: 0px;
            color: $blue;
            font-size: clamp(0.5rem, 1vw, 2rem);
            cursor: pointer;
          }
        }
      }
    }
    .buy-btn-container {
      @include buttons;

      .buy-now {
        @include blue-btn;
        width: 100%;
        padding: 1%;
      }
    }
  }
  img {
    padding-top: 5%;
    width: 100%;
  }
}

// =========================================================================
// Security Section
// =========================================================================

#security {
  background-color: $background;
  padding-block: 7%;

  .security-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;

    img {
      padding-top: 5%;
      width: 100%;
    }

    .security-right {
      h1 {
        font-size: clamp(1.5rem, 2.5vw, 3rem);
        padding-bottom: 5%;
      }
      .security-info-title {
        display: flex;
        align-items: center;
        padding-bottom: 2%;

        p {
          font-size: clamp(0.7rem, 1.1vw, 2.25rem);
        }
        i {
          color: $blue;
          margin-right: 3%;
        }
      }
      .security-info {
        @include par;
        opacity: 0.8;
      }
    }
  }
}

// =========================================================================
// Questions Section
// =========================================================================

#questions {
  background-color: $background2;
  padding-block: 5%;

  .questions-container {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    gap: 10%;

    img {
      padding-top: 10%;
      width: 100%;
    }
    .questions-right {
      h1 {
        color: #253cb5;
        font-size: clamp(0.75rem, 1.1vw, 2rem);
        padding-bottom: 2%;
      }
      h2 {
        font-size: clamp(1.25rem, 2vw, 3rem);
        margin-bottom: 5%;
      }
      .question-container {
        border-bottom: 1px groove rgba(255, 255, 255, 1);
        margin-bottom: 4%;
        .question {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 4%;

          h3 {
            font-size: clamp(0.75rem, 1.1vw, 2.5rem);
          }
          i {
            cursor: pointer;
          }
        }
        p {
          @include par;
          opacity: 0.8;
          padding-bottom: 2%;
          display: none;
        }
      }
    }
  }
  .back-to-top {
    background-color: $background;
    border: $blue 2px solid;
    border-radius: 50px;
    color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(130px, 15%, 15%);
    margin: 0 auto;
    cursor: pointer;
    font-size: clamp(0.75rem, 1.1vw, 3rem);
    padding: 1%;
    margin-top: 5%;

    p {
      margin-right: 10%;
      font-weight: bolder;

      a {
        color: $blue;
        text-decoration: none;
      }
    }
  }
}

// =========================================================================
// Footer
// =========================================================================

footer {
  background-color: $blue;
  color: white;
  padding-block: 1%;

  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    div {
      h1 {
        font-size: clamp(0.75rem, 1.1vw, 3rem);
        padding-bottom: 1.5%;
      }
      p {
        font-size: clamp(0.5rem, 1vw, 2.5rem);
      }
    }
    .socials {
      display: flex;
      align-items: center;

      a {
        color: white;
        text-decoration: none;
        padding-inline: 3%;

        i {
          font-size: 1.75vw;
        }
      }
    }
  }
}

// =========================================================================
// Media Queries
// =========================================================================

@media only screen and (max-width: 900px) {
  .header-links,
  .header-btns {
    display: none !important;
  }
  .toggle-button {
    display: flex;
  }
  .active {
    background-color: $background;
    position: absolute;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-top: 58%;
    padding-bottom: 5%;
    width: 80%;
    z-index: 5;

    a {
      padding: 0.2rem 0 !important;
    }
  }
  .chart {
    grid-template-columns: 0.25fr 1fr 1fr 0.5fr !important;
  }
  .hide {
    display: none;
  }
  .exchange-container {
    grid-template-columns: 1fr !important;
    gap: 0 !important;

    img {
      display: none;
    }
  }
  .security-container {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 0 !important;
    width: 80%;
    margin: 0 auto;
    img {
      display: none;
    }
  }
  .questions-container {
    grid-template-columns: 1fr !important;
    img {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .crypto-container {
    grid-template-columns: 1fr !important;

    img {
      display: none !important;
    }
  }
  .crypto-left {
    margin: 0 auto !important;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr !important;

    div {
      padding-bottom: 5%;
    }
  }
}
